@import url('https://fonts.googleapis.com/css2?family=Abel&family=Train+One&display=swap');

body {
  margin: 0;
  padding: 0;
}

.video-banniere {
  position: relative;
  margin: 0;
  padding: 0;
  height: 400px;
  width: 100%;
  z-index: 0;
  overflow: hidden;
}

video {
  display: flex;
  align-items: flex-start;
  right: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  z-index: -1;
}

.nom_slogan {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: 0;
  color: #f1f1f1;
  width: 100%;
  padding: 0px;
  position: absolute;
}

.slogan-boutique {
  font-family: 'Abel', sans-serif;
  font-size: 65px;
  color: #F0EAD2;
  text-shadow: 2px 2px #033f63;
  width: auto;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);

}

.content-banniere {
  text-align: center;
  top: 0;
  display: flex;
  flex-direction: row;
  font-size: 2vw;
  width: auto;
  margin: auto;
}

.maj {
  font-family: 'Train One', cursive;
  font-size: 120px;
  color: #B5B682;
  text-shadow: 2px 2px #F0EAD2;
}

.min {
  font-family: 'Abel', sans-serif;
  font-size: 95px;
  color: #F0EAD2;
  text-shadow: 2px 2px #033F63;
  padding-top: 28px;
}

.texte {

  font-family: 'Abel', sans-serif;
  font-size: 3rem;
  color: #F0EAD2;
  text-shadow: 2px 2px #033f63;
  width: auto;
  text-align: center;
  margin: auto;
}

/* ================ SECTION INEDITS ============== */
.tendances {
  margin: 3rem;
  font-size: 6vw;
}

.carousel {
  height: 100%;
}

.carousel-item {
  height: 800px;
  object-fit: contain;
}

.container-inedit {
  background-color: #28666e;
}

.tendances {
  color: #f0ead2;
}

.carousel-caption {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.navbar {
  background-color: #28666e;
}

.navbar-brand {
  color: #000;
}

.navbar-brand:hover {
  color: #b5b682;
}

.nav-link {
  color: #f0ead2;
}

.nav-link:hover {
  color: #b5b682;
}



.container-section {

  display: flex;
  justify-content: space-around;
}





.container_produits {

  display: flex;
  justify-content: center;
  align-items: center;

  width: 500px;
  height: 500px;

  border-radius: 20px;

  background-color: rgb(216, 52, 52);
}


.section p {

  font-size: 1.5rem;
  font-family: 'Roboto';
  text-align: center;
}

.container_produits:before {
  content: '';

  background-size: cover;

  border-radius: 20px;
}

.txtcontenu {



  height: 500px;
  width: 500px;

  display: flex;
  align-items: center;
  text-align: center;

  opacity: 0;
  transition: 0.5s;
  z-index: 2;
  background-color: #5d686977;
  border-radius: 20px;
  color: white;
  font-size: 2rem;
  z-index: 0;
}

.container_produits:hover:before {
  opacity: 0.5;
}

.container_produits:hover .txtcontenu {
  opacity: 1;
}

.container-produits:hover .imgcontenu {
  opacity: 0.5;
}

.conteneura:hover .txtcontenu {
  opacity: 1;
}

.container_produits_description {

  display: flex;
  justify-content: space-around;
}





.buying_button {

  display: flex;
  justify-content: center;
  align-items: center;

  height: 25px;
  width: 200px;

  margin-left: 60%;

  border-radius: 50px;

  background-color: #B5B682;

  cursor: pointer;
}


.container_desription-section {

  display: flex;
  justify-content: space-around;
}

.container_description {

  display: flex;
  text-align: start;
  align-items: center;


  width: 500px;
  height: 50px;

}

.container_description p {

  margin-left: 2px;
  font-size: 2rem;
}


.img_homme_1 {

  background-image: url('images/homme1.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.img_homme_2 {

  background-image: url('images/homme2.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.img_homme_3 {

  background-image: url('images/homme3.png');
  background-size: 100%;
  background-repeat: no-repeat;
}


.img_femme_1 {

  background-image: url('images/femme1.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.img_femme_2 {

  background-image: url('images/femme2.png');
  background-size: 100%;
  background-repeat: no-repeat;

}

.img_femme_3 {

  background-image: url('images/femme3.png');
  background-size: 100%;
  background-repeat: no-repeat;

}

.img_enfant_1 {

  background-image: url('images/enfantF1.png');
  background-size: 100%;
  background-repeat: no-repeat;

}

.img_enfant_2 {

  background-image: url('images/enfantF2.png');
  background-size: 100%;
  background-repeat: no-repeat;

}

.img_enfant_3 {

  background-image: url('images/enfantF3.png');
  background-size: 100%;
  background-repeat: no-repeat;

}


.img_autre_1 {

  background-image: url('images/plaid.jpg');
  background-size: 100%;
  background-repeat: no-repeat;

}


.img_autre_2 {

  background-image: url('images/table.jpg');
  background-size: 100%;
  background-repeat: no-repeat;

}

.img_autre_3 {

  background-image: url('images/enfant1.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}


a {

  text-decoration: none;
  color: rgb(255, 255, 255);
}




.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 99;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}


.content {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-button {

  text-align: center;

  margin-top: 10%;


  background-color: #B5B682;
  color: white;

  width: 50%;
  height: 50px;
  border-radius: 50px;

  font-size: 1rem;



}

.container_taille {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.taille {

  width: 10px;
}

.container-button {

  text-align: center;
  display: flex;
  align-items: center;

}

.container-button {

  text-align: center;
  display: flex;


}

.container-button span {

  margin-left: 10px;
  color: black;


}

.com {


  height: 100px;


}


.logo {

  position: absolute;
  opacity: 0.2;
  margin-left: -180px;
}


.popup2 {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 99;
}

.popup2 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup2 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.popup2 .close:hover {
  color: #06D85F;
}

.popup2 .content2 {
  max-height: 30%;
  overflow: auto;
}


.overlay2 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay2:target {
  visibility: visible;
  opacity: 1;
}

.container-button {

  text-align: center;

  margin-top: 10%;


  background-color: #B5B682;
  color: white;

  width: 50%;
  height: 50px;
  border-radius: 50px;

  font-size: 1rem;



}

/* FOOTER A COPIER/COLLER */

.container_footer {


  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 400px;
  width: 100%;

  font-size: 1.5rem;

  background-color: #B5B682;
}

.container_footer span {


  color: #0626d8;
}

.container_footer a {

  margin: 10px;
  margin-left: 20%;
  padding: 10px;

}



.container_map {


  display: flex;


  position: absolute;
  margin-left: 50%;
  margin-top: 0;



}