@import url('https://fonts.googleapis.com/css2?family=Abel&family=Train+One&display=swap');

/*SECTION BANNIERE*/

body{
    margin: 0;
    padding: 0;
}

.video-banniere{
    position: relative;
    margin: 0;
    padding: 0;
    height: 400px;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}

video {
    display: flex;
    align-items: flex-start;
    right: 0;
    bottom: 0;
    height: auto;
    width: 100%; 
    z-index: -1;
}

.nom_slogan{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    z-index: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 0px; 
    position: absolute;
}

h1{
    text-align: center;
    top: 0;
    display: flex;
    flex-direction: row;
    font-size: 2vw;
    width: auto;
    margin: auto;
}

.maj {
    font-family: 'Train One', cursive;
    font-size: 120px;
    color: #B5B682;
    text-shadow: 2px 2px #F0EAD2;
}

.min {
    font-family: 'Abel', sans-serif;
    font-size: 95px;
    color: #F0EAD2;
    text-shadow: 2px 2px #033F63;
    padding-top: 28px;
}

.slogan-boutique{

    font-family: 'Abel', sans-serif;
    font-size: 65px;
    color: #F0EAD2;
    text-shadow: 2px 2px #033f63;
    width: auto;
    text-align: center;
    margin: auto;
} 
/*FIN DE SECTION BANNIERE*/

/* SECTION PARTENAIRE*/

.container{
    position: relative;
    background-color: #f0ead2;
    height: 400px;
    width: 100%;
}

.top-img{
    position: absolute;
    right: 0px;
    top: -30px;
    max-width: 280px;
    
}

.bloc{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.action{
    color: #033f63;
    font-size: 50px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.devise{
    color: #033f63;
    font-size: 28px;
    padding-bottom: 20px;
}

.texte{
    color: #b5b682;
    font-size: 18px;
    padding-right: 50px;
    margin-bottom: 15px;
}

.assoc{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.assoc img{
    margin-left: 20px;
    margin-right: 20px;
}

.texte-partenaire{
    color: #033f63;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

/*FIN DE SECTION PARTENAIRE*/