*{
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    background-color: #f0ead2;
    height: 400px;
    width: 100%;
}

.top-img{
    position: absolute;
    right: 0px;
    top: -30px;
    max-width: 280px;
    
}

.bloc{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.action{
    color: #033f63;
    font-size: 50px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.devise{
    color: #033f63;
    font-size: 28px;
    padding-bottom: 20px;
}

.texte{
    color: #b5b682;
    font-size: 18px;
    padding-right: 50px;
    margin-bottom: 15px;
}

.assoc{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.assoc img{
    margin-left: 20px;
    margin-right: 20px;
}

p{
    color: #033f63;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}